@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaijaan+2:wght@600&family=Barlow:wght@400;500&family=Bitter&family=Inter:wght@300&family=M+PLUS+1+Code:wght@500;600&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Oxygen:wght@700&family=Poppins:wght@100&family=Rajdhani:wght@600&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaijaan+2:wght@600&family=Barlow:wght@400;500&family=Bitter&family=Inter:wght@300&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@500;600&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Oxygen:wght@700&family=Poppins:wght@100&family=Rajdhani:wght@600&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaijaan+2:wght@600&family=Barlow:wght@400;500&family=Bitter&family=Inter:wght@300&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@500;600&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Oxygen:wght@700&family=Poppins:wght@100&family=Rajdhani:wght@600&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:wght@700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: aliceblue;
  font-family: "Rubik", sans-serif;
  /* font-family: 'Ubuntu Mono', monospace; */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Header */
header {
  background-color: black;
  padding: 1rem;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.colom {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  letter-spacing: 0.25rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(209, 49, 49);
  margin-left: 0.6rem;
}
.primary {
  color: rgb(209, 49, 49);
}

.navigation a {
  margin: 0 0.6rem;
  font-weight: bold;
}
.navigation a:hover {
  color: rgb(209, 49, 49);
}
.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-name i {
  color: white;
  font-size: 1.2rem;
}

/* Loader */
.wrapper {
  height: 50px;
  /* margin-top: calc(50vh - 25px); */
  margin-top: 20%;
  margin-left: calc(50vw - 100px);
  width: 180px;
}
.circle {
  border-radius: 50%;
  border: 3px #0a0a0a solid;
  float: left;
  height: 50px;
  margin: 0 5px;
  width: 50px;
}
.circle-1 {
  animation: move 1s ease-in-out infinite;
}
.circle-1a {
  animation: fade 1s ease-in-out infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.circle-2 {
  animation: move 1s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60px);
  }
}
.circle-1a {
  margin-left: -55px;
  opacity: 0;
}
.circle-3 {
  animation: circle-3 1s ease-in-out infinite;
  opacity: 1;
}
@keyframes circle-3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  display: flex;
  justify-content: center;
}

strong {
  display: inline-block;
  color: #222;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 40px auto;
  text-transform: uppercase;
}

/* login */
.form-control {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
form {
  background-color: rgb(138, 30, 30);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.9rem 0.1rem rgb(131, 129, 129);
  width: 35%;
}

.form-top {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

input {
  padding: 0.7rem 1.7rem;
  border-radius: 0.2rem;
  border: unset;
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(209, 230, 227);
  color: black;
}
input:focus {
  color: black;
}
.yellow {
  color: rgb(233, 144, 10);
}
.form-top .first a {
  font-size: 2rem;

  margin-top: 0.4rem;
  color: black;
}
.form-top .second a {
  display: inline-block;
  font-size: 1rem;
  color: rgb(233, 144, 10);
  margin-top: 0.7rem;
}
input[type="submit"] {
  font-weight: bold;
}
/* Home */
h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.error,
span {
  color: white;
}

.margin {
  margin-top: 0.4rem;
}

/* error */
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.message-box h1 {
  color: black;
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: rgb(233, 144, 10);
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}
.buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: 0.2s;
}
#Polygon-3 {
  animation-delay: 0.4s;
}
#Polygon-4 {
  animation-delay: 0.6s;
}
#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
  }
}
p {
  color: black;
  font-weight: bold;
}
/* navlink */
.active {
  color: goldenrod;
}

.article {
  background-color: gainsboro;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}
.fa-heart i {
  color: white;
  font-size: 1.3rem;
}
.author-des {
  margin-top: 2rem;
}
.heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
.tag {
  color: black;
  background-color: gray;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  padding: 1rem;
  width: 32%;
  border-radius: .3rem;
  font-weight: bold;
}
.tags {
  width: 100%;
  display: flex;
  height: 2rem;
  flex-wrap: wrap;
}

.home {
  display: flex;
  justify-content: space-between;
}

.article-box{
  width: 65%;
}
.tags-box{
  width: 30%;
}